body{

    font-family: 'Montserrat', sans-serif;
}

header{

    background: linear-gradient(grey,white);
    padding: 20px 0;
}
.imagemlogo:hover{

    transform: scale(1.2);
    transition: 1s all
}
.caixa{
    position: relative;
    width: 600px;
    margin: 0 auto;
}

nav{
    position:absolute;
    top: 110px;
    right: 0;
}
nav li{

    display: inline;
    margin: 0 0 0 22px;
}
nav a{

    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: none;
    

}

.titulo-principal{
    padding-left: 20px;
    font-weight: bold;
    font-size: 30px;
}
.titulo-principal::first-letter{
    font-size:bold;
}

.titulo-principal:before{

    content: "[ ";
}

.titulo-principal:after{
    content: " ]";
}
.principal{
    background: linear-gradient(grey,white);
    padding: 2em 0;
}
.titulo-principal
{
    text-align:center;
    font-weight: bold;
    font-size: 2em;
    margin: 1em;
    color: rgba(0, 0, 0,0.5);
}
.titulo-principal:hover{
    color: rgba(0, 0, 0,1);

}
.principal p  

{
  text-align:none;
  margin: 1em;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.conteudo-beneficios{

    width: 640px;
    margin: 0 auto;
}
#missao
{

    font-size:20px;
}
em strong

{

color:red;

}
/*Banner da pagina inicial*/
.banner {
    width: 100%;
}
.itens {
    line-height: 2;
}
.itens::before{

    content: "✭   ";
}
.itens:nth-child(4n){
    font-weight:bold;
}
.beneficios{

    background:linear-gradient(grey,black);
    padding: 20px;
    box-shadow: inset 0 0 30px #c78c19; /*sombra interna de um elemento*/
    
}

.lista-Beneficios{

      width: 40%;
      display: inline-block;
      vertical-align: top;
}
.imagem-beneficios{
    width: 60%;
    opacity: 1;
}
.imagem-beneficios:hover{
    opacity: 1; /* regulagem de opacidade 0 - 1 ou seja 0.2,0.5*/
    box-shadow: 5px 5px 5px 10px hsl(59, 55%, 52%); /*Regulagem de sombra em uma imagem (aqui nesse campo apenas ao passar mouse*/


}
footer{

    text-align:center;
    background: url("bg.jpg");
    padding: 40px 0;
}
.copyright{

    color: #ffffff;
    font-size: 13px;
    margin:20px 0 0;
}
.mapa{
    text-align: center;
    padding: 1em 0;
  background: linear-gradient(white,grey);
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}
.video{

    width: 560px;
    margin: 2em auto;
}
@media ( max-width: 550px) {
.caixa,.principal,.mapa-conteudo,.conteudo-beneficios,.video,.mapa{
    width: 100%;

            }
 h1 {
    text-align: center;
    width: 100%;
           }
nav{
    position: static;
}
.lista-Beneficios,.imagem-beneficios{
    width: 100%
}
}